/* div{
 background-color:rgb(114, 226, 70) ; 
background-color: #0892A5; 
text-align: center;
width: 300px;
height: 300px;
margin: 30px 40px 60px 100px; 
margin: 100px;
margin: 40px 100px;
padding: 40px 50px 40px 30px;
border: 5px solid black;
border-style: dashed;
border-radius: 10px; 


} 
span{
     background-color: #ce2c9d; 
text-align: center;
width: 300px;
height: 300px;
margin: 30px 40px 60px 100px; 
margin: 100px;
margin: 40px 50px;
padding: 40px 50px 40px 30px;
border: 5px solid black;
border-style: dashed;
border-radius: 10px;
display: inline-block; 
}
static position */

div{
    display: inline-block;
    width: 200px;
    height: 200px;
    border: 2px solid black;
    margin: 10px;
}
/* 
#static .middle{
    position: static;
    top: 50px;
    left: 50px;


}
#relative .middle{
    position: relative;
    top: 100px;
    left: 50px;
    
} */

/* #absolute .middle{
    position: absolute;
    top: 300px;
    
} */

#fixed .middle{
    position: fixed;
    top: 30px;
}