div{
    max-width: 80%;
    max-height: 70%;
    margin: 20px auto;
    border: 2px solid black;
    padding: 10px;
    background-color: antiquewhite;
}

h1{

    text-align: center;
    font-size: 50px;
    color: rgb(251, 84, 42);

}

p{
    font-size: 25px;
    font-style: italic;

}

/* media query */
/* @media screen and ( max-width:1200px) {

    h1{
        color: orange;
        font-size: 45px;
        background-color: rgb(125, 205, 237);
    }
    
}

@media screen and ( max-width:768px) {

    h1{
        color: orange;
        font-size: 45px;
        background-color: rgb(69, 55, 225);
    }
    
}

@media screen and ( max-width:576px) {

    h1{
        color: rgb(248, 112, 193);
        font-size: 45px;
        background-color: rgb(195, 43, 233);
    }
    p{
        font-size: 15px;
        color: darkblue;
    }
    
} */

/* MIN width */
@media screen and (min-width:768px){
    h1{
        color: rgb(158, 238, 10);
        font-size: 45px;
        background-color:       rgb(195, 43, 233);
    }


    
}

@media screen and (min-width:1200px){
    h1{
        color: rgb(88, 233, 127);
        font-size: 50px;
        background-color: rgb(5, 213, 228);
    }


    
}