#parent{
    width: 70vw; 
    height: 900px;
    border: 2px solid black;
    background-color: rgb(219, 162, 86);
    margin: 30px auto;
    display: flex;
    /* flex-direction: row; */
    justify-content: space-evenly;
    align-items: center;
    gap: 20px;
    text-align: center;
   
}

div{
    width: 80px;
    height: 80px;
    
    font-size: 20px;
}

/* navbar style */
header{
    width: 100%;
    border: 2px solid black;
    background-color: #c5c7f5;
    box-shadow: 0 2px 10px rgba(0,0,0,0.08);
}
nav{
    max-width: 1500px;
    margin: auto;
    padding: 5px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;

}


nav img{
    height: 80px;
    cursor: pointer;

}

.search{
    display: flex;
    align-items: center;
    background: #f1f3f6;
    padding: 6px 14px;
    border-radius: 30px;
    width: 320px;
    height: 20px; 
    gap: 220px;
}

.search input{
    border: none;
    align-items: center;
    outline: none;
    background: transparent;
    width: 80px;
    font-size: 14px;
    
}

.search img{
    width: 20px;
    height: 20px;
    opacity: 0.7;
}

.menu ul{
    align-items: center;
    list-style: outside;
    display: flex;
    gap: 28px;
    padding: 8px 18px ;
}

.menu a{
    text-decoration: none;
    color: #333;
    font-weight: 500;
    font-size:20px;
    align-items: center;
   
    
}

button {
    background: #dc6868;
    color: #f1f3f6;
    border: none;
    padding: 8px 18px;
    border-radius: 20px;
    align-items: center;

}



