#heading{
    color: blue;
    font-size: 50px;
    background-color: aquamarine;
    text-align: center;
    
}
.para{
    color: red;
    background-color: black;
    font-size: 20px;
}

a[href="http://facebook.com"]{

    color: green;
    font-size: 40px;
}

section article div h2{
    color: pink;
    font-size: 50px;
    background-color: beige;
}
section .subHeading{
    font-family: 'Courier New', Courier, monospace;
}
section p{
    font-size: 40px;
    color: chartreuse;
}
.box{
    width: 300px;
    height: 300px;
    border: 2px solid black;
    background-color: red;
}

.box:hover{
    background-color: aqua;
    border-radius: 50%;
}

a[href="http://google.com"]{
    color: red;
    font-size: 20px;
    
}

a[href="http://google.com"]:active{
    color: green;
    font-size: 50px;
}

.percent{
    width: 100px;
    height: 200px;background-color: aqua;
}

.percent p{
    font-size: 80%;
    width: 50%;
    height: 50%;
    background-color: black;
    border: 2px solid orchid;
    color: red;
}

ul{
    font-size: 20px;
    color: red;

}
li{
    /* font-size: 2em; */
    font-size: 2rem;

}